<!doctype html>

<html lang="en">
<head>
  <title>My uber webpage</title>
  <meta charset="utf-8">
  <meta name="description" content="The uber website">
  <meta name="author" content="My Name">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <h1>Sherlock Holmes Short Stories</h1>
  </header>

  <nav class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>

  <article class="article">
    Main content
  </article>

  <footer>Copyright &copy; 2017 Your name goes here</footer>
  <script src="js/script.js"></script>
</body>
</html>
